.Main{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100vw;
    gap: 1rem;    
}

.Navbar{
    background-color: #4f4fdf;
    width: 100%;
    height: 3rem;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.element1{
    height: 3rem;
    display: flex;
    width: auto;
    align-items:center;
}

.navmenu{
    padding-left: 1rem;
    text-align: justify;
}

.camera{
    padding-left: 2rem;
    padding-right: 2rem;
}

.navic{
    padding-left: 2rem;
    padding-right: 2rem;

}

.Boddy{
    max-width: 1200px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    justify-items: center;
    padding-top: 1rem;
    box-shadow: 1px 1px 1px 1px rgb(168, 168, 168);
}





.content{
    width: 45%;
    height: fit-content;
    justify-content: center;
    box-shadow: 1px 1px 1px 1px rgb(168, 168, 168);
}

.cntHeader{
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.container1{
    
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    height: auto;
    justify-content: space-evenly;
    gap: 2rem;
    
}

.container2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    width: 20%;
    box-shadow: 1px 1px 1px 1px rgb(168, 168, 168);
}

.SideContainer{
    padding-top: 1rem;
    display:flex;
    height: fit-content;
    width: 80%;
    align-items: center;
    box-shadow: 1px 1px 1px 1px rgb(168, 168, 168);
}

.headtxt{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 50px;
}

.Sidetext{
    margin: 0;
}

.icon{
    height: 80%;
    padding: 1rem;
}

.Imgcnt{
    width: 100%;
}
@media only screen and (max-width: 900px) {
    .container2{
        display: none;
    }
    .navmenu{
        display: none;
    }
}

@media only screen and (min-width: 900px) {
    .navic{
        display:none !important;
    }
}


@media only screen and (max-width: 600px) {
    .container1{
    
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 60%;
        height: auto;
        align-items: center;
        gap: 2rem;
    }
    
}

